h3, h4, body {
  font-family: Raleway;
  text-align: left;
}

img {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;
}

li {
   list-style: none;
}

.text {
  text-align: center;
}

.cat-name {

}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
